.playlistPage {
  padding-top: 30px;

  .top {
    display: flex;
    gap: 16px;

    .img {
      width: 250px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      .title {
        font-weight: 700;
        font-size: 36px;
      }

      .description {
        font-size: 18px;
        font-weight: 500;
        color: rgba(223, 223, 223, 0.8)
      }

      .actions {

      }
    }
  }

  .content {
    margin-top: 2rem;

    h4 {
      font-size: 24px;
    }

    .emptyMovies {
      width: 100%;
      min-height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      opacity: 0.7;
    }

    .movieList {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      transition: var(--transition-timeout);

      .movie {
        background: #6c757d;
        border: 1px solid #21275B;
        border-radius: 0.25rem;
        display: flex;
        color: var(--text-color);
        text-decoration: none;
        padding: 8px;

        .img {
          width: 100px;
          height: 100%;
          border-radius: 0.25rem;

          img {
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
          }
        }

        .content {
          margin-top: 0;
          display: flex;
          flex-direction: column;
          padding: 16px;

          .title {
            font-weight: 600;
          }

          .rating {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
        transition: var(--transition-timeout);
        &:hover {
          background: lighten(#6c757d, 2);
        }
      }
    }

    .recommendationList {

    }
  }
}
