.root {

  .banner {
    background: #503750;

    .hero {
      padding: 80px 0;
      display: flex;
      gap: 16px;


      .left {
        width: 50%;

        .title {
          font-weight: 700;
          font-size: 36px;
          color: #f0cdff;

          @media (max-width: 768px) {
            font-size: 24px;
          }
        }

        .description {
          margin-top: 26px;
          font-weight: 500;
          color: rgba(#f0cdff, 0.6);

          @media (max-width: 768px) {
            margin-top: 12px;
          }
        }

        .actions {
          margin-top: 32px;
          display: flex;
          gap: 8px;

          .subscribe {
            color: #f0cdff;
            cursor: pointer;
            padding: 10px 15px;
            font-weight: 700;
            font-size: 16px;
            border-radius: 500px;
            border: 2px solid #f0cdff;
            background: transparent;
            transition: var(--transition-timeout);

            &:hover {
              background: #3c293c;
            }
          }

          @media (max-width: 768px) {
            flex-direction: column;
          }
        }
      }


      .right {
        width: 50%;

        img {
          width: 100%;
          max-width: 100%;
          height: 320px;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        padding: 0;
        padding-top: 20px;

        .left {
          width: 90%;
          padding-left: 20px;
        }
        .right {
          width: 100%;
        }
      }
    }
  }


  .popular {
    margin-top: 1.25rem;
  }
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem;

  background: #3c293c;

  width: 800px;
  max-height: 600px;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;

    h3 {
      font-size: 1.65rem;
      font-weight: 700;
    }
  }

  .form {
    margin-top: 1.5rem;
    padding-right: 1rem;

    input[type="file"] {
      display: none;
    }

    .fileUpload {
      width: 100%;
      height: 180px;
      background: rgba(#503750, 0.7);
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      p {
        text-align: center;
        font-size: 14px;
        color: rgba(223, 223, 223, 0.6);
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .input {
      border-radius: 0.25rem;
      border: none;
      padding: 0.5rem 1rem;
      width: 100%;
      background: rgba(255, 255, 255, 0.9);

      margin-top: 0.75rem;
      font-family: inherit;

      &:first-child {
        margin-top: 0;
      }

      &:focus {
        outline: none
      }
    }
  }

  .submit {
    color: #f0cdff;
    cursor: pointer;
    padding: 8px 15px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 500px;
    border: 2px solid #f0cdff;
    color: #3c293c;
    background: rgba(255, 255, 255, 0.9);
    transition: var(--transition-timeout);
    min-width: 100px;
    margin-left: 1rem;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .add {
    margin-top: 0.5rem;

    .movies {
      display: flex;
      flex-direction: column;
      overflow: auto;
      max-height: 200px;
      gap: 0.5rem;
      margin-top: 0.75rem;

      .movie {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem;
        transition: var(--transition-timeout);
        border-radius: 0.25rem;

        &:hover {
          background: rgba(#503750, 0.6);
        }

        .img {
          width: 65px;
          height: 85px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .content {
          .name {

          }

          .rating {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: 14px;
          }

          .releaseDate {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    }
  }
}
