.root {
  display: flex;

  .content {
    margin-top: 2rem;
    width: 80%;

    .empty {
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        opacity: 0.6;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .content {
      width: 100%;
      margin-top: 1.5rem;
    }
  }
}


.sidebar {
  margin: 40px 0;
  height: 100%;
  width: 20%;

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .item {
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
      transition: ease-out 100ms;

      &.active {
        color: rgb(240, 150, 0);
      }
    }
  }

  .tab {
    color: var(--text-color);
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 30px 0 0;
    color: var(--text-color) !important;

    ul button {
      color: var(--text-color) !important;
    }

    :global(.active) {
      color: black !important;
    }
  }
}

.personalData {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;

  .item {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-weight: 600;

    span {
      font-weight: 400;
    }

    table th, td {
      color: var(--text-color) !important;
    }
  }

  .editButton {
    margin-top: 1.2rem;
    border-radius: 20px;
  }
}

.favoritesData {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
