:root {
  --color-primary: #051937;
  --text-color: rgb(223, 223, 223);
  --transition-timeout: 100ms;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color) !important;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #051937, #242a65, #58348e, #9933ae, #e117c1);
}



