:root {
  --color-primary: #67B159;
  --text-color: #fff;
  --transition-timeout: 100ms;
}

* {
  margin: 0;
  padding: 0;
}

html, body, #root, .App {
  min-height: 100%;
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  background: #011627;
}

