:root {
  --color-primary: #051937;
  --text-color: #e117c1;
  --transition-timeout: 100ms;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  color: var(--text-color) !important;
  font-family: 'Open Sans', sans-serif !important;
}

.Toastify__toast-body {
  color: var(--color-secondary);
  line-height: 1.125rem;
}

.Toastify__toast-icon {
  width: 40px !important;
}

.Toastify__toast {
  border-radius: 1rem !important;
}

.Toastify__close-button {
  align-self: center !important;
}
