.posterImage{
    height: 600px;

    @media (max-width: 768px) {
        height: 250px;
    }
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;

    @media (max-width: 768px) {
        padding: 1.25rem;
    }
}

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        font-weight: 700;
    }
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.posterImage__rating {
    margin-left: 3rem;

    @media (max-width: 768px) {
        margin-left: 1.5rem;
    }
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
    height: 80%;

    @media (max-width: 768px) {
        font-size: 0.75rem;
    }
}
