.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 1000;
  overflow: hidden;

  .content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgba(0, 0, 0, 0.8);
    min-height: 100px;
    width: 400px;
    border-radius: 0.5rem;
    padding: 1.25rem;
    text-align: center;

    p {
      //display: flex;
      //align-items: center;
      //justify-content: center;
      font-weight: 600;
      font-size: 24px;
    }

    @media (max-width: 768px) {
      width: 260px;
      left: 12px;
      transform: translateY(0);
    }
  }
}
