.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

  .heading {
    color: rgba(0,0,0,.9);font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
    margin-bottom: 40px;
  }

  .logo {
    display: block;
    margin: 0 auto;

    width: 300px;
    height: auto;
  }

  .form {
    color: var(--color-primary);
    min-width: 360px;
    min-height: 40vh;
    background: #fff;
    padding: 22px;
    padding-top: 25px;
    border: 1px solid gainsboro;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
}
