.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

  .heading {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 1.5rem;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .form {
    color: var(--color-primary);
    min-width: 45%;
    min-height: 40vh;
    background: whitesmoke;
    padding: 16px;
    padding-top: 25px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }

}
