.movie__list {
  padding: 0 3rem 3rem 3rem;

  @media (max-width: 768px) {
    padding: 0.1rem;
  }
}

.list__title {
  font-size: 1.75rem;
  margin: 2.5rem;

    @media (max-width: 768px) {
        margin: 1rem 0;
        margin-left: 0.3rem;
        font-weight: 600;
    }
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
