.header {
  display: flex;
  align-items: center;
  height: 90px;
  color: var(--text-color);
  //background: var(--color-primary);
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--text-color);
  transition: ease-in var(--transition-timeout);
  justify-content: space-between;
  z-index: 10000000;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
    transition: ease-in var(--transition-timeout);
    color: inherit;
    &:hover {
      color: rgba(223, 223, 223, 0.6);
    }
  }

  .left {
    display: flex;
    align-items: center;

    .logo {
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .search {
    flex-grow: 1;
    margin: 0 20px;

    .inputContainer {
      width: 80%;
      margin-left: auto;
      position: relative;

      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);

        path {
          stroke: rgba(35, 31, 32, 0.6);
        }
      }
    }

    .searchInput {
      width: 60%;
      display: block;
      border-radius: 4px;
      border-color: rgba(223, 223, 223, 0.6);
      border-width: 1px;
      padding: 10px 16px;
      background: rgb(223, 223, 223);
      outline: none;
      transition: ease-in-out 100ms;
      padding-left: 40px;

      &:focus {
        width: 70%;
        background: whitesmoke;
      }
    }
  }

  .right {
    justify-content: flex-end;
    margin-right: 30px;
  }
}
