.header {
  display: flex;
  align-items: center;
  height: 90px;
  background: #fafafa;
  border-bottom: 0.5px solid gray;
  transition: ease-in var(--transition-timeout);
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;

  &.sticky {

  }

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
    transition: ease-in var(--transition-timeout);
    color: inherit;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .left {
    display: flex;
    align-items: center;

    .logo {
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .right {
    justify-content: flex-end;
    margin-right: 30px;
  }
}
