.layout {
  //background: url("");
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

  .heading {
    color: rgba(0,0,0,.9);font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
    margin-bottom: 20px;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .form {
    color: var(--color-primary);
    min-width: 360px;
    min-height: 40vh;
    overflow: auto;
    background: #fff;
    padding: 22px - 5px;
    padding-top: 25px;
    border: 1px solid gainsboro;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

    form {
      max-height: 50vh;
      overflow: auto;
      padding: 5px;

      &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    }

    .subscriptionItem {
      display: flex;
      gap: 8px;
      padding: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      transition: var(--transition-timeout);
      cursor: pointer;

      .content {
        display: flex;
        flex-direction: column;
        font-weight: 600;

        small {
          font-weight: 400;
        }
      }

      &.active {
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
